@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  background-color: black !important;
}

.board{
  height: 100vh;
}

.label{
  font-size: 4em;
  font-family: 'Montserrat', sans-serif !important;
}

.btn{
  width: 4em;
  height: 4em;
  font-size: 2em !important;
}

.game{
  margin-top: 5.5rem;
}

.info{
  color: white;
}

.point{
  color: gold;
  font-size: 3em;
}

.timer{
  color:sandybrown;
  font-size: 3em;
}

.endGame{
  font-size: 5em;
  font-family: 'Montserrat', sans-serif !important;
  color: white;
}